body {
	
    width: 60%;
    margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

a {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: underline;
}

.banner {
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    
}

.formWrapper {
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.formwrapper a {
	margin-left: 10%;
}

.inventoryForm {
    
}

label {
    font: normal 24px courier;
}

input {
    font: bold 24px courier;
	
}

table {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}
 
 tr td {
    border: solid 1px;
	font: 24px courier;
}

.fieldName {
	text-align: right;
}

.error {
    color: red;
}