

body {
    width: 100%
	margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

.banner {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.formWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.inventoryForm {
    
}

label {
    font: normal 24px courier;
}

input {
    font: bold 24px courier;
}

.inventoryTable tbody {
	
 }
 
 table {
	margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
	
 }
 
 tr td {
    border: solid 1px;
}